#laukums1{
    background-color: #e0ffe0;
    height: 100vh; 
    width:  100vw;
    position: relative;
    overflow:hidden;
    }
#main_left
{
    position: absolute;
    width: 40%;
    height: 100vh;
    left: 0px;
    top: 0px;
    font-family: Poppins;
    font-style: normal;
    line-height: 300%;
    text-align: center;
    color: #FFFFFF; 
    background: linear-gradient(180deg, #0084F8 0%, #00C6FF 100%);
}
#main_right
{

    position: absolute;
    width: 60%;
    height: 100vw;
    left: calc(100vw-40%);
    top: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 250%;
    text-align: left;
    color: blue;
}
tx1{
    position: absolute;
width: 50%;
height: 3em;
left: 25%;
top: 15%;

font-weight: 500;
font-size: 48px;
text-align: center;


}
tx2{
    position: absolute;
    width: 120%;
    height: 20%;
    left: -10%;
    top: 100%;
       
    
    font-size: 20px;
   
    
    text-align: center;
    
       
}
tx3{
position: absolute;
width: 350px;
height: 162px;
left: 75%;
top:5%;
font-size: 36px;
}
tx4{
position: absolute;
width: 500px;
height: 162px;
left:75%;
top: 12%;
font-size: 14px;
}
ret{
    position: absolute;
    width: 350px;
    height: 162px;
    left: 70%;
    top:2%;
    font-size: 12px;   
}
  img{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 10%;
    top: 200%;
  }